.holder {
  background-color:black;
  width:400px;
  height:450px;
  overflow:hidden;
  padding:10px;
  font-family:Helvetica;
  opacity: 0.8;
}
.holder .mask {
  position: relative;
  left: 0px;
  top: 10px;
  width:400px;
  height:450px;
  overflow: hidden;
}
.holder ul {
  list-style:none;
  margin:0;
  padding:0;
  position: relative;
}
.holder ul li {
  font-size: 20px;
  color: white;
  padding:10px 0px;
}

.holder ul li a {
  color:white;
  text-decoration:none;
}

.notices{
    border: 2px solid black;
    overflow: hidden;
    white-space: wrap;
}

.notices1{
    display: inline-block;
    animation: marquee 18s linear infinite;
}

.notices1:hover{
    animation-play-state: paused;
}

.notices2{
    display: inline-block;
    animation: marquee2 18s linear infinite;
    animation-delay: 1.25s;
}

.notices2:hover{
    animation-play-state: paused;
}

@keyframes marquee{
    from{
        transform: translateY(120%);
    }
    to{
        transform: translateY(-220%)
    }
}

@keyframes marquee2{
    from{
        transform: translateY(120%);
    }
    to{
        transform: translateY(-220%)
    }
}
